{% extends 'layout.html' %}
{% block meta %}
    <span class="meta">Posted by <b>zqtay</b> on {{ content.date_posted.strftime('%d/%m/%y %R') }}</span>
{% endblock meta %}
{% block content %}
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ content.content }}
                </div>
            </div>
        </div>
    </article>
    <hr>
{% endblock content %}

